<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key>
  <string>ApexVIP</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0.0</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>UILaunchScreen</key>
  <dict>
    <key>UIColorName</key>
    <string>LaunchBackground</string>
  </dict>
  <key>UISupportedInterfaceOrientations</key>
  <array>
    <string>UIInterfaceOrientationPortrait</string>
  </array>
  <key>UIStatusBarStyle</key>
  <string>UIStatusBarStyleLightContent</string>
  <key>UIViewControllerBasedStatusBarAppearance</key>
  <false/>
  <key>NSLocationWhenInUseUsageDescription</key>
  <string>ApexVIP uses your location to set your pickup point and show your chauffeur on the map.</string>
  <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
  <string>ApexVIP uses your location to track your journey in real time.</string>
  <key>ITSAppUsesNonExemptEncryption</key>
  <false/>
</dict>
</plist>
